nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 45px;
    background: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
