<h2>Formulario</h2>

<form (ngSubmit)="guardar()" #miForm="ngForm">

  <!-- ID (solo informativo) -->
  <label>ID</label>
  <input type="number" name="id" [(ngModel)]="tarea.id" readonly>
<span *ngIf="tarea.title touched"></span>
  <!-- TÍTULO -->
  <label>Título *</label>
  <input
    type="text"
    name="title"
    [(ngModel)]="tarea.title"
    required>
    

  <span *ngIf="tarea.title && tarea.title.length < 3">
    Mínimo 3 caracteres
  </span>
<span *ngIf="tarea.title && tarea.title">
  El título es obligatorio (mínimo 3 caracteres)
</span>
  <br><br>

  <button type="submit" [disabled]="miForm.invalid">
    Guardar
  </button>

</form>

<p *ngIf="mensaje">{{ mensaje }}</p>a

